/**  See http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/********** MY CSS **********/
body {
	background-color: #C21941;
}

/* MAIN HEADER */
header {
	background-color: #D7D7DB;
	font-size: 1.6em;
	border-radius: 10px;
	width: 510px;
	margin: 20px auto;
	color: black;
}

header h1 {
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

.panel-main {
	width: 510px;
	margin: 0 auto;
	border-radius: 12px;
	background-color: #D7D7DB;
	padding: 10px 0;
}

/* Hide the previous page element by default with this class */
.no-show {
	display: none;
}

/* SEARCH BAR AND SEARCH BUTTON */
.panel-search {
	display: block;
	text-align: center;
	margin: 20px auto;
}

.panel-search input[type='search'] {	
	width: 360px;
}

/*  NEXT PAGE AND PREVIOUS PAGE BUTTONS */
.panel-navigate {
	display: block;
	width: 240px;
	margin: 0 auto;
	text-align: center;
}

.next-page-btn, .prev-page-btn {
	margin: 10px;
}

.prev-page-btn {
	float: left;
}

.next-page-btn {
	float: right;
}

/* THE DISPLAY SIZE DROP DOWN MENU*/
.panel-display {
	text-align: center;
	margin: 10px;
	padding: 10px;
}

/* The page number div */
.panel-page-number p {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

/* container div for each individual video */
.vid {
	background-color: #D7D7DB;
	padding: 20px 0;
	margin: 30px auto;
	width: 1400px;
	border-radius: 20px;
}

/* iframe that holds the youtube video */

.vid iframe {
	display: block;
	margin: 0 auto;
}	

/* container for information: video title, description, publish date */

.infopanel {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	border-radius: 20px;
}

.infopanel small {
	font-size: 1em;
}

.infopanel p, .infopanel h2, .infopanel a {
	padding: 10px;
}
